# --- Segurança (Credenciais) ---
kaggle.json
.env
config.json

# --- Python & Ambiente Virtual ---
__pycache__/
*.pyc
.venv/
venv/
env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- IDEs e Sistema ---
.vscode/
.idea/
.DS_Store